.symbol {
    font-family: 'Material Symbols Rounded';

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

*::-webkit-scrollbar {
    width: 6px;
}
  
*::-webkit-scrollbar-track {
    background: white;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
  
*::-webkit-scrollbar-thumb {
    background-color: rgb(233, 233, 233);
    border-radius: 0.5rem
}

body > .content-area > .window {
    position: absolute;
    width: 90%;
    height: 90%;

    max-width: 95%;
    max-height: 95%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 0.5rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.7px);
    -webkit-backdrop-filter: blur(12.7px);
    
    z-index: 100;
    overflow: hidden;

    box-shadow: #0000004d 5px 5px 18px 0px;
    transition-property: width, min-height, max-height;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(.45,0,.39,.77);
}

body > .content-area > .window.minimized {
    transition: all 0.6s !important;
    top: 200% !important;
}

body > .content-area > .window > header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 20pt;

    background-color: white;
}

body > .content-area > .window > header .traffic {
    position: absolute;
    display: flex;
    left: 7px;
    top: 50%;
    transform: translate(0,-50%);
}

body > .content-area > .window > header .traffic button {
    border-radius: 50rem;
    border: none;
    aspect-ratio: 1/1;
    height: 10pt;

    font-size: 0pt;
    font-weight: 800;

    cursor: pointer;
    margin-right: 8px;

    font-family: 'Material Symbols Rounded';
    align-items: center;
    justify-content: center;
    display: flex;
}

body > .content-area > .window > header .traffic button:hover {
    font-size: 10pt;
}

body > .content-area > .window > header .traffic .close {background-color: red;}
body > .content-area > .window > header .traffic .minimize {background-color: orange;}
body > .content-area > .window > header .traffic .fullscreen {background-color: lime;}

body > .content-area > .window.fullscreen > header .traffic .fullscreen {font-size: 0pt;}
body > .content-area > .window.fullscreen > header .traffic .fullscreen:hover:after {
    content: 'close_fullscreen';
    padding: 10px;
    font-size: 10pt;
} 

body > .content-area > .window > header .title {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
}

body > .content-area > .window > .content {
    width: 100%;
    height: calc(100% - 17pt);
    overflow-y: auto;
}

body > .content-area > .window.fullscreen {
    left: 50% !important;
    top: calc(50% + 26pt) !important;

    max-height: 100% !important;
    min-height: 100% !important;
    width: 100% !important;

    max-width: unset !important;
    border-radius: 0;

    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}

body > .content-area {
    position: relative;
    width: 100%;
    height: calc(100% - 27pt);
}