.app-web .urlbar {
    position: fixed;
    background: white;
    width: 100%;
    height: 25px;
}

.app-web .urlbar > form {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.app-web .urlbar > form > input {
    height: 75%;
    width: 50%;
    padding: 0;
}

.app-web iframe {
    width: 100%;
    background: white;
    height: 100%;
}