.app-files .content {
    display: flex;
    position: relative;
}

.app-files aside {
    position: sticky;
    top: 0;
    background-color: white;
    height: 100%;
    width: 400px;
}

.app-files aside ul {
    margin: 0;
}

.app-files .explorer {
    overflow-y: visible;    
    flex-direction: row !important;
    width: calc(100% - 400px);
}

.app-files .explorer * {
    color: black;
}